body {
    background-color: #1b1b1b;
}

.mybody {
    width: 100%;
    /* border: 1px solid black; */
    height: 96vh;
    background-color: #1b1b1b;
}

hr {
    color: white;
}

.mynav {
    /* border: 1px solid darkgray; */
    border-radius: 12px;
    color: white;
}

.mylogo {
    width: 70px;
    height: 60px;
}

.navborrder {
    border-radius: 12px;
}

.mycontainer {
    border: 1px solid darkgray;
    border-radius: 12px;
    height: 89%;
    overflow: scroll;
    background-color: #fff;
    overflow-x: hidden;
    background: #171744;
}

html {
    background-color: #1b1b1b;
}

.mynft {
    /* border: 1px solid darkgray; */
    width: 275px;
    height: 350px;
    border-radius: 6px;
    float: left;
    background: linear-gradient(180deg, blueviolet, #1b1b1b);
}

.containre2 {
    overflow: auto;
}

::-webkit-scrollbar {
    width: 8px;
}
/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
/* Handle */

::-webkit-scrollbar-thumb {
    background: rgb(59, 59, 59);
    border-radius: 10px;
}
/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.tag {
    /* background-color: black; */
    font-family: sans-serif;
    border-radius: 6px;
    color: white;
}

.power {
    height: 20px;
    width: 20px;
}

.p1 {
    margin-left: 70px;
}

.p2 {
    margin-left: 10px;
}

.character {
    height: 170px;
    width: 260px;
}

.chinfo {
    text-align: center;
    font-family: cursive;
    color: #f1f1f1;
}

.btncolor {
    background: linear-gradient( 270deg, lightcoral, cornflowerblue);
    border-radius: 10px;
}

span {
    color: black;
    background: linear-gradient(318deg, #85e43f, #44c323);
    padding: 2px;
    border-radius: 5px;
    font-size: 13px;
}

.modeltop {
    border: 1px solid white;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 15px;
    color: white;
    background: linear-gradient(180deg, blueviolet, #1b1b1b);
}

.img {
    height: 25px;
    width: 25px;
    margin-left: 10px;
}

:before {
    content: " ";
    width: 1px;
    background-color: #3c3c3c;
    position: absolute;
    top: 50%;
    left: 0;
    height: 35px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.mybnb {
    width: 20px;
    height: 20px;
}

.bndrate {
    font-family: monospace;
    padding: 6px;
    color: white;
    font-size: 18px;
}

.mycontainer {
    background: linear-gradient( 6deg, purple, #1819EF);
}

.topbody {
    background: linear-gradient( 6deg, purple, #1819EF);
}

.mypowers {
    background: linear-gradient(180deg, blueviolet, #1b1b1b);
    border: 1px solid white;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 15px;
    color: white;
}

h6 {
    color: burlywood;
    font-size: 14px;
}

.comingsoon {
    text-align: center;
    color: white;
}

model-viewer {
    width: 490px;
    height: 415px;
    margin: 0 auto;
    margin-bottom: 10px;
    backgroung-color: transparent;
    background-image: url(asset/images/backgroung.svg);
}